/CookingBook/CookingBook/obj
/CookingBook/CookingBook/bin
/CookingBook/CookingLib/obj
/CookingBook/CookingLib/bin
/CookingBook/RecipeDecoder/obj/Debug/App.g.i.cs
/CookingBook/RecipeDecoder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CookingBook/RecipeDecoder/obj/Debug/MainWindow.g.i.cs
/CookingBook/RecipeDecoder/obj/Debug/RecipeDecoder.csproj.CoreCompileInputs.cache
/CookingBook/RecipeDecoder/obj/Debug/RecipeDecoder_MarkupCompile.i.cache
/CookingBook/RecipeDecoder/obj/Debug/RecipeDecoder_MarkupCompile.i.lref
/CookingBook/RecipeDecoder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CookingBook/RecipeDecoder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CookingBook/RecipeDecoder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CookingBook/RecipeDecoder/obj
/CookingBook/RecipeDecoder/bin
/CookingBookApp/CookingBookApp/CookingBookApp/obj
/CookingBookApp/CookingBookApp/CookingBookApp/bin
/CookingBookApp/CookingBookApp/CookingBookApp.Android/obj
/CookingBookApp/CookingBookApp/CookingBookApp.Android/bin
/CookingBookApp/CookingBookApp/CookingBookApp.iOS/bin
/CookingBookApp/CookingBookApp/CookingBookApp.iOS/obj
/CookingBookApp/CookingBookApp/CookingBookApp.UWP/bin
/CookingBookApp/CookingBookApp/CookingBookApp.UWP/obj
/CookingBook/.vs/CookingBook/v15/*.suo
.vs
/CookingBookApp/.vs
